<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sude</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="loginsuccesful" 
    class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link btn" routerLink="/products/add">Ürün Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" routerLink="/money/add">Para Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" routerLink="/order/add">Sipariş Ver</a>
        </li>
        <li class="nav-item" *ngIf="admin" class="dropdown">
          <button
          *ngIf="toBeApprove"
            class="btn btn-light dropdown-toggle nav-link"
            type="button"
            id="accountMenu"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Onaylama
        </button>

          <ul class="dropdown-menu px-auto" aria-labelledby="approveMenu">
            <li>
              <a 
              *ngFor="let product of productToBeApprove"
              class="dropdown-item"
              >ürün : {{product.productName}} satıcı :{{product.supplierId}}
              miktar:{{ product.quantity }} kg fiyat:{{ product.unitPrice }}
              <span class="badge bg-success btn" (click)="approveProduct(product)">✓</span>
              <span class="badge bg-danger btn"  (click)="refusalProduct(product)">X</span></a
              >
            </li>
            <li>
              <a 
              *ngFor="let wallet of moneyToBeApprove"
              class="dropdown-item"
              > para :{{wallet.money}}
              <span class="badge bg-success btn" (click)="approveMoney(wallet)">✓</span>
              <span class="badge bg-danger btn"  (click)="refusalMoney(wallet)">X</span></a
              >
            </li>
          </ul>
        </li>
      </ul> 
      <button *ngIf="loginsuccesful" (click)="logOut()" class="btn btn-primary mx-2 py-2 px-4 rounded-1 shadow">Log out</button> 
    </div>
  </div>
</nav>
