<div class="content ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title"> Para Ekleme</h5></div>
            <div class="card-body">
                <form [formGroup]="moneyAddForm">
                    <div class="mb-3">
                        <label for="money">Eklenecek Para</label>
                      <div class="formGroup">
                        <input type="number" id="money" 
                        formControlName="money" class="form-control" placeHolder="₺50"/>
                      </div>
                    </div>    
                    <div class="mb-3"></div>    
                    <label>Para Birimi</label>
                      <div class="formGroup">
                        <select class="form-select"
                        formControlName="currencyId"
                        aria-label="Default select example"><option *ngFor="let currency of currencies" [value]="currency.currencyId">{{currency.currencyUnit}}</option></select>
                      </div>                      
                </form>
            </div>
            <div class="card-footer">
                <button class="btn byn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>        
    </div>
</div>