<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title"> Para Ekleme</h5></div>
            <div class="card-body">
                <form [formGroup]="moneyAddForm">
                    <div class="formGroup">
                        <input type="number" id="money" 
                        formControlName="money" class="form-control" placeHolder="₺50"/>
                    </div>
                </form>
            </div>
        </div>        
    </div>
</div>